body {
    background-color: #f7c5f7;
}

.jumbotron {
    background-color: #f7c5f7 !important;
}

.team-area {
    color: #d382ee !important;
}



h2 {
    font-size: 50px !important;
    text-align: center;
}

h3 {
    font-size: 20px !important;
    text-align: center;
}